<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nivel Avanzado</title>
</head>
<body>
    <center>
        <h1>¡Gestos!</h1>
        <p>Toca la tecla Space para que la cámara lea tu seña.</p>
        <p>Propuesta de implementación. Para aplicarla se requieren muchas mejoras sobre la red neuronal que hemos entrenado.</p>
        
        <div> 
            <img src="{{url_for('video')}}" width="50%"/> 
        </div>
    </center>
</body>
</html>
